
.CardInputs {
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 5%;
    border-radius: 10px;
}
.ImgsFormas {
    height: 30px;
}
.CloseEditButton {
    margin-top: 2%;
}