
.CardInputs {
    background-color: rgba(138, 131, 131, 0.7) !important;
    width: 28rem;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 5%;
    border-radius: 10px;
}
.ImgsFormas {
    height: 30px;
}